<aside class="w-50 h-screen bg-gray-900 text-white p-5">

  <div class="flex flex-col items-center">

    <!-- Perfil / Logo -->
    <div class="text-center mb-10">
      <!--<img src="logo-veterinaria.png"
        class="w-32 h-32 rounded-full object-cover border-4 border-gray-700 shadow-lg mx-auto mb-4" />-->
      <h1 class="text-lg font-semibold">
        Huellitas Felices
      </h1>
      <p class="text-sm text-gray-400">
        Tu veterinaria de confianza
      </p>
    </div>

    <!-- Menú -->
    <nav class="w-full space-y-2">
      <a href="/dashboard" class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-800 transition">
        <span class="material-symbols-outlined">Dashboard</span>
      </a>

      <a href="clientes" class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-800 transition">
        <span class="material-symbols-outlined">Clientes</span>
      </a>

      <a href="/mascotas" class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-800 transition">
        <span class="material-symbols-outlined">Mascotas</span>
      </a>

      <a href="/citas" class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-800 transition">
        <span class="material-symbols-outlined">Citas</span>
      </a>

      <a href="/consultas" class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-800 transition">
        <span class="material-symbols-outlined">Consultas</span>
      </a>

      <a href="/historial" class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-800 transition">
        <span class="material-symbols-outlined">Historial Médico</span>
      </a>

      <a href="/tratamientos" class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-800 transition">
        <span class="material-symbols-outlined">Tratamientos</span>
      </a>

      <a href="/veterinarios" class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-800 transition">
        <span class="material-symbols-outlined">Veterinarios</span>
      </a>

      <a href="/home" class="flex items-center gap-3 px-4 py-3 rounded-lg hover:bg-gray-800 transition">
        <span class="material-symbols-outlined">Cerrar Sesión</span>
      </a>
    </nav>
  </div>
</aside>
