<aside
  class="h-screen bg-teal-900 text-white
         p-4 flex flex-col">


  <div class="text-center mb-6">
    <img
      src="assets/imgperfil/perfil.jpg"
      class="mx-auto rounded-full object-cover
             w-24 h-24 md:w-40 md:h-40 border-2 border-teal-700"/>

    <h1 class="mt-2 font-semibold
               text-sm md:text-base">
      Nombre del usuario
    </h1>

    <p class="text-xs md:text-sm text-teal-200">
      Huellitas Felices
    </p>
  </div>

  <!-- Menú -->
  <nav class="space-y-1">
    <a *ngFor="let item of menuItems"
       [routerLink]="item.route"
       routerLinkActive="bg-teal-700"
       class="block px-3 py-2 rounded-lg transition
              hover:bg-teal-700
              text-sm md:text-base">
      {{ item.label }}
    </a>
  </nav>

  <!-- Logout -->
  <button
    (click)="logout()"
    class="mt-auto px-3 py-2 rounded-lg
           hover:bg-red-600 transition
           text-sm md:text-base text-left">
    Cerrar sesión
  </button>

</aside>
